<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>
<br>
<legend><h1><B>Country Lookup App</B></h1></legend>
<br>
<div>
  <form action="/country" method="post">  
	<table>  
    	<tr>  
        	<td><label for="Country Code">Country Code </label></td>  
            <td><input type="text" name="iso2Code"></input></td>
		</tr>
		<tr></tr>
		<tr>  
			<td></td>  
			<td><input type="submit" value="Submit"></input>&nbsp;&nbsp;<input type="reset" value="Reset"></input></td>
		</tr>  
	</table>  
  </form>
</div>

<script>

</script>
   
</body>
</html> 